# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
data/
models/

# Environment
.env
config.py
